@charset "utf-8";

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: dodgerblue;
  font-size: 15px;
  color: white;
  text-align: center;
  padding: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header__flex {
  display: flex;
  height: 60px;
  align-items: center;
}

.header__flex a {
  color: hsl(0, 0%, 94%);
  text-decoration: none;
}

.header__flex nav {
  margin-left: auto;
}

.header__flex ul {
  display: flex;
}

.header__flex ul li {
  margin-left: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  font-size: 20px;
  margin: 0;
  padding: 1%;
  min-height: 100vh; /* 全画面の高さにフィット */
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

footer {
  background-color: dodgerblue;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: auto;
  position: relative; /* 相対位置 */
  right: 0.5%;
}

section {
  margin-bottom: 20px;
}
